<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= render "layouts/menus"%> |
  <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
  <%= link_to('修改密码', edit_registration_path(:user)) %>
  <br/>
  <script>
    Ext.onReady(function(){
    });
  </script>
<% end %>
<%= yield %>

</body>
</html>
