<!DOCTYPE html>
<html>
<head>
  <title>CMS</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<% if current_user %>
  <div>
    <%= render "layouts/menus" %> 
    <%= render "layouts/tools"%>
  </div>
 <% end %>
<script>
    Ext.onReady(function(){ 
        CMS.menuPanel = Ext.create('Ext.Component', {
		        region: 'north',
		        border: true,
            frame: true,
		        height: 30
        });
        console.log(2);
      if(CMS.mainPanel){ 
            Ext.create('Ext.container.Viewport', {
			          layout: 'border',
                autoScroll: true,
			          items: [CMS.menuPanel, CMS.mainPanel],
            })
        }
    });
 </script>
</body>
</html>
